RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

#RewriteCond %(REQUEST_FILENAME) !-d
#RewriteCond %(REQUEST_FILENAME) !-f
#RewriteCond %(REQUEST_FILENAME) !-l

#RewriteRule ^(.+)/(.+)/$ index.php?var1=$1&var2=$2
#RewriteRule ^(.+)$ index.php?var1=$1
#RewriteRule ^blog/(.*)$ blog/?p=var1

RewriteCond %{REQUEST_URI} !^/include/
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]