@font-face {
    font-family: 'GillSansStd';
    src: url(../fonts/GillSansStd-Light.otf);
}

body, html{
	font-family: GillSansStd;
}

.my-bag{
	width: 200px;
	height: 50px;
	text-align: center;
	position: fixed;
	right: -85px;
	top: 300px;
	background-color: #9F972D;
	color: #fff;	
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-size: 30px;
	z-index: 999;
}